.load-section {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 25;
  top: 0;
  left: 0;

  display: flex;

  &--animate {
    pointer-events: none;
    .load-section__col {
      &:first-child {
        left: -50%;
      }

      &--right {
        left: auto;
        right: -50%;
      }
    }
  }

  &__col {
    height: 100%;
    width: 50%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.4s;
    background: #7970a9;

    &--right {
      right: 0;
      left: auto;
    }
  }

  &__center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    perspective: 200px;
  }

  &__logo {
    animation: test 5s 0.5s ease infinite;
    transform-style: preserve-3d;
    transition: 0.5s;

    .logo {
      display: inline-flex;

      &__link{
        &-text{
          color: #fff;
        }
      }
    }
  }

  &__indicator {
    text-align: center;
    margin-top: 50px;
    color: #fff;
    font-size: 20px;
  }
}

@keyframes test {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
