.what-new {
  &__subtitle {
    color: #00b69d;
    font-size: 26px;
    margin-left: 74px;
    transform: skewY(-11.5deg);
    font-family: "Kaushan Script", cursive;
  }

  &__text {
    color: #fff;
    font-weight: 500;
    padding: 0 15%;
    margin-top: 100px;
    text-align: center;
    line-height: 30px;
  }
}

@media screen and (max-width:480px){
  .what-new{
    &__text{
      padding: 0 6%;
      line-height: 24px;
      margin-top: 66px;
    }

    .title{
      font-size: 51px;
    }

    &__subtitle{
      margin-bottom: 25px;
    }
  }
}
